:root {
  --main-bg-black: #191919;
  --main-bg-white: #F1F1F0; 
  --margin-sides: 16px;
  --margin-sides-narrow: 32px;
  --big-responsive-font: calc(56px + (56 - 24) * (100vw - 360px)/(960-360));
  --medium-responsive-font: calc(48px + (48 - 20) * (100vw - 360px)/(960-360));
  --small-responsive-font: calc(24px + (24 - 16) * (100vw - 360px)/(960-360));
}

html, body {
  background-color: var(--main-bg-white);
}

/* NAVBAR */
nav.nav {
  position: fixed;
  height: 72px;
  background-color: var(--main-bg-white);
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
  -webkit-box-shadow: 0px 3px 12px -1px rgba(0,0,0,0.41);
  -moz-box-shadow: 0px 3px 12px -1px rgba(0,0,0,0.41);
  box-shadow: 0px 3px 12px -1px rgba(0,0,0,0.41);
}

h1.logo {
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
  font-size: 32px;
  color: var(--main-bg-black);
  margin-left: var(--margin-sides);
}

ul.nav-menu {
  margin-right: var(--margin-sides);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul.nav-menu li {
  display: inline;
  list-style-type: none;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 24px;
  text-align: center;
  color: var(--main-bg-black);
  margin-left: 24px;
  border: 1px solid var(--main-bg-black);
  width: 88px;
}

ul.navv-menu li:nth-child(1) {
  margin-left: 0;
}

button.btn-nav {
  margin: 0;
  padding: 4px;
  background: none;
  width: 100%;
  border: none;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  transition: all .2s ease;
}

button.btn-nav:hover {
  cursor: pointer;
  background: var(--main-bg-black);
  color: var(--main-bg-white);
  transition: all .2s ease;
}

img.nav-burger {
  display: none;
}

/* MAIN SECTION ON LANDING PAGE */
main {
  position: relative;
  top: 0;
  left: 0;
  height: 100vh;
  background-image: url("../images/river.jpg");
  background-position: bottom;
  background-color: black;
  background-size: cover;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.veil {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: var(--main-bg-black);
  background-position: bottom;
  background-size: cover;
  opacity: 0;
  z-index: 3;
}

h2.mission-statement {
  margin: 0 var(--margin-sides);
  z-index: 2;
  font-family: 'Roboto Slab', serif;
  font-size: var(--big-responsive-font);
  font-weight: 400;
  color: var(--main-bg-white);
  text-align: center;
  text-shadow: 0px 0px 19px rgba(0, 0, 0, 0.8);
}

/* OUR PRODUCTS SECTION ON LANDING PAGE */
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section.section-medium {
  height: 380px;
  width: 100%;
}

h3.section-header {
  font-family: 'Roboto Slab', serif;
  font-size: var(--medium-responsive-font);
  color: var(--main-bg-black);
  margin-top: -32px;
  margin-left: var(--margin-sides-narrow);
  margin-right: var(--margin-sides-narrow);
  margin-bottom: 24px;
}

p.products-description {
  font-family: 'Oswald', sans-serif;
  font-size: var(--small-responsive-font);
  font-weight: 300;
  color: var(--main-bg-black);
  margin-left: var(--margin-sides-narrow);
  margin-right: var(--margin-sides-narrow);
  text-align: center;
}

p.products-description > b {
  font-weight: 500;
}

/* MOBILE */
@media screen and (max-width: 640px) { 
  ul.nav-menu {
    display: none;
  }

  img.nav-burger {
    display: block;
    height: 48px;
    width: auto;
    margin-right: var(--margin-sides);
  }
}